<!DOCTYPE html>
<html>
<head>
  <title>FinalTest</title>
  / convert this to Haml, whatever that is
/   <%= stylesheet_link_tag    "application", :media => "all" %>
/   <%= javascript_include_tag "application" %>
/   <%= csrf_meta_tags %>
/ </head>
<body>

/ <%= yield %>

</body>
</html>
